body {
    font-family: Arial, sans-serif;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: rgb(72, 76, 77);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    height: 500px;
    padding: 20px;
    text-align: center;
}

.btn {
    background-color: #4CAF50;
    color: rgb(72, 76, 77);
    border: none;
    padding: 10px 20px;
    margin: 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}


.btn:hover {
    background-color: #45a049;
}

.btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.hide {
    display: none;
}

#question {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

#results {
    margin-top: 20px;
}

.correct {
    background-color: #4CAF50;
}

.incorrect {
    background-color: #f44336;
}